export(pairwiseSNHT)
export(plotSNHT)
export(robustSNHT)
export(robustSNHTunequal)
export(snht)

import(ggplot2)
importFrom(mgcv, gam, s)
importFrom(gridExtra, arrangeGrob)
importFrom(reshape2, melt)
importFrom(mvtnorm, rmvnorm)
importFrom(methods, is)
importFrom(stats, glm, predict, qchisq, sd)
